@font-face {
	font-family: roboto;
	src: url(../font/Roboto-Regular.woff);
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

body {
	background-color: #4C586F;
	font-family: roboto;
	color: #FFFFFF;
}

.nav {
	font-size: 17px;
	border-radius: 10px;
	width: 13%;
	height: 90%;
	position:fixed;
	z-index: 1;
	overflow: auto;
	padding: 1%;
	background-color: #36373a;
}

.menu ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.content {
	margin-left: 16%;
	height: 100%;
	padding: 1%;
	padding-top: 1%;
	
	z-index: 1;
	overflow:auto;
	padding: 1%;
	background-color: #36373a;
	border-radius: 10px;
	text-align: center;
}

.header {
	height: 150px;
	text-align: center;
}

.menu li{
	list-style: none;
	padding: 10px;
	min-height: 30px;
	margin-top: 5px;
}

.menu li:hover{
	background: #A2AAB0;
	cursor: pointer;
	border-radius: 10px;
}

.selectedNavi {
	border-radius: 10px;
	background: #A2AAB0;
}

.error {
	margin: auto;
	background-color: #A04800;
	border-radius: 10px;
	width: 75%;
	text-align: center;
	color: white;
}

.error table {
	margin: auto;
}

.contentField {
	margin: auto;
	background-color: #A2AAB0;
	border-radius: 10px;
	width: 75%;
	text-align: center;
	color: black;
}

/*
.container {
	display: -webkit-flex;
}
*/

/*
.left {
	-webkit-flex: 1;
	overflow: auto;
}
*/
.required {
	color: red;
}

.errorDel {
	color: #7a1d0b;
}

.contentField table {
	margin: auto;
}

.contentField td {
	padding: 10px;
}

.loader {
	position: relative;
	top: 50%;
	margin: 0 auto;
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid blue;
	border-bottom: 4px solid blue;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

div#resultDiv {
	display: none;
}

div#loaderDiv {
	display: none;
}

div#errorDiv {
	display: none;
}

div#loaderDiv2 {
	display: none;
}

tr#LogWarning {
	background-color: #fff34c;
}

tr#LogError {
	background-color: #fc4b4b;
}

tr#Loginfo {
	background-color: #42f445;
}

table#logTable{
	color: black;
	text-align: center;
	width: 100%;
}

th {
	color: white;
	background-color: black;
}