@font-face {
	font-family: roboto;
	src: url(../font/Roboto-Regular.woff);
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

body {
	background-color: #4C586F;
	font-family: roboto;
	color: #FFFFFF;
}

.nav {
	font-size: 17px;
	border-radius: 10px;
	width: 13%;
	height: 90%;
	position:fixed;
	z-index: 1;
	overflow: auto;
	padding: 1%;
	background-color: #36373a;
}

.menu ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.content {
	margin-left: 16%;
	height: 100%;
	padding: 1%;
	padding-top: 1%;
	
	z-index: 1;
	overflow:auto;
	padding: 1%;
	background-color: #36373a;
	border-radius: 10px;
	text-align: center;
}

.header {
	height: 150px;
	text-align: center;
}

.menu li{
	list-style: none;
	padding: 10px;
	min-height: 30px;
	margin-top: 5px;
}

.menu li:hover{
	background: #A2AAB0;
	cursor: pointer;
	border-radius: 10px;
}

.error {
	margin: auto;
	background-color: #A04800;
	border-radius: 10px;
	width: 75%;
	text-align: center;
}

.error table {
	margin: auto;
}

.addUser {
	margin: auto;
	background-color: #A2AAB0;
	border-radius: 10px;
	width: 75%;
	text-align: center;
	color: black;
}

/*
.container {
	display: -webkit-flex;
}
*/

/*
.left {
	-webkit-flex: 1;
	overflow: auto;
}
*/

.addUser table {
	margin: auto;
}

.addUser td {
	padding: 10px;
}

