html {
  font-family: Arial, sans-serif;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

textarea {
  resize: none;
  width: 400px;
  height: 200px;
}


/* Common table styles
===================================================== 
*/

.tb-border, .tb-border th, .tb-border td {
  border: 1px solid black;
}

/* Common row styles
===================================================== 
*/

.fld {
  width: 15%;
}

.val {
  width: 35%;
}

  
/* Index page
===================================================== 
*/

.btn-login {
  height: 150px;
  width: 200px;
  margin-top: 100px;
}

.btn-login-hcsystem {
  margin-left: 400px;
}

.btn-login-console {
  margin-left: 150px;
}


/* Login page
===================================================== 
*/

.form-signin, .form-signin-testing {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.form-signin .form-control {
  font-size: 16px;
  padding: 10px;
}

.form-signin input {
  width: 400px;
  margin-bottom: 10px;
}

.form-signin .btn-login, .form-signin-testing .btn-login {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.form-signin-testing .btn-login-patient {
  width: 45%;
  float: left;
  margin-top: 5px;
}

.form-signin-testing .btn-login-therapist {
  width: 45%;
  float: right;
  margin-top: 5px;
}

.form-signin-testing p {
  text-align: center;
}




