html {
  font-family: Arial, sans-serif;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

textarea {
  resize: none;
  width: 400px;
  height: 200px;
}


/* Common table styles
===================================================== 
*/

.tb-border, .tb-border th, .tb-border td {
  border: 1px solid black;
}

/* Common row styles
===================================================== 
*/

.fld {
  width: 15%;
}

.val {
  width: 35%;
}

  
/* Index page
===================================================== 
*/

.btn-login {
  height: 150px;
  width: 200px;
  margin-top: 100px;
}

.btn-login-hcsystem {
  margin-left: 400px;
}

.btn-login-console {
  margin-left: 150px;
}


/* Login page
===================================================== 
*/

.form-signin, .form-signin-testing {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.form-signin .form-control {
  font-size: 16px;
  padding: 10px;
}

.form-signin input {
  width: 400px;
  margin-bottom: 10px;
}

.form-signin .btn-login, .form-signin-testing .btn-login {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.form-signin-testing .btn-login-patient {
  width: 45%;
  float: left;
  margin-top: 5px;
}

.form-signin-testing .btn-login-therapist {
  width: 45%;
  float: right;
  margin-top: 5px;
}

.form-signin-testing p {
  text-align: center;
}

.shifted {
  margin-left:30%;
  height:100%;
  border: 2px solid grey;
  padding: 1%;
  padding-top: 0%;
}

.sidebar {
  width: 25%;
  position:fixed!important;
  z-index: 1;
  overflow:auto;
  border: 2px solid grey;
  padding: 1%;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}

.main-list.main-list-hoverable li:hover{
    background-color:#ccc
}

.main-list {
    list-style-type:none;
    padding: 0;
    margin: 0;
}
.main-list li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.main-list li:last-child { 
    border-bottom: none;
}




